<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:insert="/layouts/fragments/scripts :: head"/>

<body class="theme-deep-orange">
<!-- Page Loader -->
<!--div th:insert="/layouts/fragments/page-loader :: loader"/-->
<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div th:insert="/layouts/fragments/search-bar :: search"></div>
<!-- #END# Search Bar -->
<!-- Top Bar -->
<div th:insert="/layouts/fragments/top-bar :: nav-main"></div>

<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div th:insert="/layouts/fragments/left-sidebar :: user-info"/>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <div th:insert="/layouts/fragments/left-sidebar :: menu"/>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div th:insert="/layouts/fragments/left-sidebar :: footer"/>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    <div th:insert="/layouts/fragments/right-sidebar :: right-sidebar"/>
    <!-- #END# Right Sidebar -->
</section>

<section class="content">
    <div class="container-fluid">
        <div layout:fragment="content-header"/>
        <div class="alert alert-success" th:if="${message}">
            <span id="success-message" th:text="${message}"></span>
        </div>
        <div layout:fragment="content"/>
    </div>
</section>

<!-- JS -->
<div th:insert="/layouts/fragments/scripts :: javascripts"/>


</body>

</html>