<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="main" id="items-section" th:if="${user.id}">

	<table id="table-list" class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>Patrimônio</th>
			<th>Nome</th>
			<th>Data/Hora Retirada</th>
		</tr>
		</thead>
		<tbody th:remove="all-but-first">
		<tr  th:each="item : *{loans}">
			<td th:text="${item.item.id}">id</td>
			<td th:text="${item.item.name}">nome</td>
			<td th:text="${#temporals.format(item.dateTimeLoan, 'dd/MM/yyyy HH:mm')}">date</td>
		</tr>

		</tbody>
	</table>
</div>
</html>