<html xmlns:th="http://www.thymeleaf.org">
<div class="box-header with-border">
	<h3 class="box-title">Lista de equipamentos emprestados</h3>
</div>
<div th:fragment="main" id="items-section" th:hidden="${#lists.isEmpty(loans)}">

	<table id="table-list" class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>Patrimônio</th>
			<th>Nome</th>
			<th>Data/Hora Retirada</th>
		</tr>
		</thead>
		<tbody th:remove="all-but-first">
		<tr  th:each="item : ${loans}">
			<td th:text="${item.item.id}">id</td>
			<td th:text="${item.item.name}">nome</td>
			<td th:text="${#temporals.format(item.dateTimeLoan, 'dd/MM/yyyy HH:mm')}">date</td>
		</tr>

		</tbody>
	</table>
</div>
</html>