<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{/layouts/main}">

	<head>
		<title th:text="#{user.profile}" />
	</head>

	<!-- CONTENT HEADER -->
	<div layout:fragment="content-header">
			<div class="block-header">
			<!--h1>
                <span th:text="#{index.header}"/>
                <small><span th:text="#{index.title}"/></small>
            </h1>
            <!-- BREADCRUMB -->
			<ol class="breadcrumb breadcrumb-bg-blue-grey align-right">
				<li><a th:href="@{/}">
					<i class="material-icons">home</i> <span th:text="#{home}"/></a>
				</li>
				<li class="active"><i class="material-icons">info</i><span th:text="#{user.profile}" /></li>
			</ol>
		</div>
	</div>


	<!-- CONTENT -->
	<div layout:fragment="content">
		<!-- Main content -->
		<section>
			<div class="row">

				<div class="col-md-12">
					<div class="card">
						<div class="body">
							<form th:object="${user}" th:action="@{/user/save}" method="post">
								<input type="hidden" id="id" th:field="*{id}">
								<div class="form-group form-float">
									<div class="form-line" th:classappend="${#fields.hasErrors('name')}? 'error'">
										<input type="text" class="form-control" th:field="*{name}" id="inputName" name="inputName" required>
										<label class="form-label">Name</label>
									</div>
									<label class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
										   style="display: block;">Name Error</label>
								</div>
								<div class="form-group form-float">
									<div class="form-line" th:classappend="${#fields.hasErrors('email')}? 'error'">
										<input type="text" class="form-control" th:field="*{email}" id="inputEmail" name="inputEmail" required>
										<label class="form-label">Email</label>
									</div>
									<label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										   style="display: block;">Email Error</label>
								</div>
								<button class="btn btn-primary waves-effect" type="submit" th:text="#{button.save}">SUBMIT</button>
							</form>
						</div>
						<!-- /.box-body -->
					</div>

				</div>
				<!-- /.nav-tabs-custom -->
			</div>
			<!-- /.col -->
		</section>
	</div>
</html>

