<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main}">


<th:block layout:fragment="head-title">
    <title th:text="#{home.header}"/>
</th:block>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
    <section class="content-header">
        <!-- PAGE TITLE -->
        <h1>
            <span th:text="#{home.header}"/>
            <!--small><span th:text="#{home.title}"/></small-->
        </h1>
        <!-- BREADCRUMB -->
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> <span
                    th:text="#{home}"/></a></li>
        </ol>
    </section>
</div>


<div layout:fragment="content">

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                <h4 th:text="#{my.statistics}">Meus dados</h4>
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3><span th:text="${loanedCountersByUser[0]}"></span></h3>
                                <p th:text="#{outstanding.loans}">Empréstimos pendentes</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>

                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3><span th:text="${loansCountersByUser[0]}"></span></h3>

                                <p th:text="#{total.loans}">Total de empréstimo</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>

                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <h4 sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{general.statistics}">Estatísticas Gerais</h4>
                <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3><span th:text="${totalLoanedCounters[0]}"></span></h3>

                                <p th:text="#{outstanding.loans}">Empréstimos pendentes</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3><span th:text="${totalLoansCounters[0]}"></span></h3>

                                <p th:text="#{total.loans}">Total de empréstimos</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="col-lg-3 col-xs-4">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3><span th:text="${totalLoansToday[0]}"></span></h3>

                                <p th:text="#{loans.today}">Hoje</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-4">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3><span th:text="${totalLoansLastSevenDays[0]}"></span></h3>

                                <p th:text="#{loans.last.seven.days}">Últimos 7 dias</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-4">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3><span th:text="${totalLoansLastThirtyDays[0]}"></span></h3>

                                <p th:text="#{loans.last.thirty.days}">Últimos 30 dias</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <!--div class="box-footer">
            Footer
        </div-->
        <!-- /.box-footer-->

        <!-- /.box -->

    </section>

</div>
