<html layout:decorate="~{/layouts/main}">

<th:block layout:fragment="head-title">
    <title th:text="#{home.header}"/>
</th:block>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
    <section class="content-header">
        <!-- PAGE TITLE -->
        <h1>
            <span th:text="#{home.header}"/>
            <!--small><span th:text="#{home.title}"/></small-->
        </h1>
        <!-- BREADCRUMB -->
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> <span
                    th:text="#{home}"/></a></li>
        </ol>
    </section>
</div>



<div layout:fragment="content">

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <p class="margin">Em construção...</p>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                Footer
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>

</div>
